.header {
    .menu {
        width: 100%;
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        padding: 0;
        margin: 0;
        position: fixed;
        top: 0;
        background-color: #ffffff;
        z-index: 678;
        &__item {
            width: 20%;
            text-align: center;
        }
        &__link {
            display: block;
            width: 100%;
            text-decoration: none;
            color: #000000;
            font-size: 14px;
            line-height: 50px;
            &:hover {
                color: #000000;
                opacity: 0.4;
                transition: all 0.3s;
            }
            &--selected {
                opacity: 0.4;
            }
        }
    }
    &__content {
        display: flex;
        min-height: 600px;
        text-align: left;
        background: url(../../img/header-bg.jpg) center/cover no-repeat;
        /* background: linear-gradient(to left, #fae5e1 50%, #E8EFF1 50%); */
    }
    &__wrapper {
        position: relative;
        width: 100%;
        margin: 0 auto;
    }
    &__inner {
        display: flex;
        position: absolute;
        left: 45px;
        bottom: 50%;
        transform: translateY(50%);
        font-size: 13px;
        &-text {
            margin-left: 35px;
        }
    }
    &__title {
        font-size: 24px;
        line-height: 24px;
    }
    &__subtitle {
        font-size: 18px;
    }
}
.header-form {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 15% 15% 60% 10%;
    gap: 20px;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    font-size: 13px;
    margin: 0 auto;
    &__label {
        width: 100%;    
    }
    &__input {
        width: 100%;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #000000;
        outline: none;
        padding: 0 5px;
        &:hover {
            border-bottom: 1px solid rgba(0, 0, 0, 0.4);
            transition: all 0.3s;
        }
        &:focus {
            border-bottom: 1px solid rgba(0, 0, 0, 0.4);
            transition: all 0.3s;
        }
        &--required:not(.header-form__input--required:placeholder-shown) {
            &:invalid {
                border-bottom: 1px solid rgb(255, 0, 0);
            }
        }
    }
    &__textarea {
        background-color: transparent;
        border: none;
        outline: none;
        resize: none;
        border-bottom: 1px solid #000000;
        grid-column: 1/-1;
        grid-row: 3/4;
        padding: 0 5px;
        &:hover {
            border-bottom: 1px solid rgba(0, 0, 0, 0.4);
            transition: all 0.3s;
        }
        &:focus {
            border-bottom: 1px solid rgba(0, 0, 0, 0.4);
        }
    }
    &__btn {
        grid-column: 1/-1;
        background-color: transparent;
        border: none;
    }
}
.important {
    color: rgb(255, 0, 0);
}